<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form method="post" action="/login">
        <p>
            <input type='name' name='user[name]' placeholder="UserName" />
        </p>
        <p>
            <textarea type='text' name='user[pass]' placeholder="Password"></textarea>
        </p>
        <p>
            <input type='submit' value='Login' />
        </p>
    </form>
</body>
</html>